h1 {
	color: #0000ff;/*blue;*/
	font-size: 12px:
	font-family: serif; /* Avenir Next*/
}

h2 {
	color: #000000;/*black;*/
	font-size: 10px:
	font-family: serif; /* Avenir Next*/
}

.header {
  background-color: #f7f2b4;
  height: 90px;
}

.header-logo {
  background-color: #f7f2b4;
  font-size: 24px:
  height: 90px;
}

body {
  font-family: "Avenir Next";
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}
